# Plug-in configuration.
#
# Author $Author$
# Version $Revision$

# Add the filter to the Process>Filters menu.
Process>Filters>Melon Imaging, "Netting", com.syngenta.imagej.plugins.melons.Netting

# Add about menu entry.
Help>About Plugins, "Melon Imaging...", com.syngenta.imagej.plugins.melons.Netting("about")